@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	background-color: #004882;
}

.box {
	margin-left: 6px;
}

.box select option {
	padding: 30px;
	
}

.bgselect {
	margin: 30px;
	align-content: center;
	padding-top: 30px;
	background: rgba(255, 255, 255, 0.6);
	width: 350px;
	height: 350px;
	border-radius: 2rem;
	text-align: center;
	text-align: center;
}



.calendario
{
	width:100%;
}

.cal-position .box select {
	margin-top: 20px;
	width: 250px;
}

.bgselect>* {
	margin: 0 auto;
}

#bottone-calendario {
	width: 10em;
	height: 2em;
}

.cal-position {
	z-index: 1;
	position: absolute;
	top: 200px;
	left: 200px;
}

.div-car {
	z-index: 0;
}
