@charset "ISO-8859-1";

.imgcat {
	width: 150px;
	height: 88px;
	
	align: left;
	
	
}

#catalogo .form-group.box.mb-2 {
    width: 100%;
}

.divcat{
	
	margin-top: 50px;
}
.calendario-catalogo{
	width: 250px;
	height: 180px;
}
.bottone-catalogo{
	
	border-radius: 0.8rem;
	background-color: #1F4267;
	color: white;
	width: 10em;
	height: 2em;
	outline: none;
	font-size: 20px;
	text-align: center;
}

#catalogo form 
{
    padding: 0;
}


#catalogo .calendario.divBottone {
    display: flex;
    justify-content: center;
    width: min-content;
}

.prova{
	margin-top: auto;
	margin-bottom: auto;
}

.col-sm #div-prenota {
    margin: 3px auto;
}

select[name="auto"] {
    height: 52px;
}

#catalogo .row {
    margin: 50px auto;
}


.row .col-sm {
    overflow: unset;
    margin: 12px auto;
    padding: 0;
}
.col-sm .input {
    margin-top: 0;
}
.col-6.descrizione {
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-3.descrizione{
	 display: flex;
    align-items: center;
    justify-content: center;
    overflow: unset;
}


