@charset "ISO-8859-1";

.madre{   
	
	grid-template-columns: 1f ;
    
    grid-template-areas: "navbar"
    "noleggio";
    
  
    
    
    

}
.navbar .navbar-inverse {
	grid-area: navbar;
	
	
	
}
.table-noleggio{
grid-area : noleggio;
min-height:1000px;
padding-left: 100px;
    margin-right: 100px;
    grid-area: table;
    margin-top: 200px;
}
.table {
	text-align: left;
}
