@charset "UTF-8";
/* CSS Document*/

.wrapper{
    margin:0;
    max-width:1200px;
    margin-left:150 px;
    margin-right:auto;
}
.container.registra{
    margin-top:170px;
    width:50%;
    margin-bottom: 30px;
}
#registratilbl
{
  font-size: 17px;
}
