
.size-riepilogo{
    display: grid;
    grid-template-columns:1fr  1fr ;
    
    grid-template-areas: " form form"
    "div-car div-car";

    
}
.form{
grid-area: form;
min-width: 850px
}
.div-car{
    margin-left: px;
    margin-top: 49px;
    grid-area: div-car;
    max-width: 800px;
    min-width: 500px;
    max-height: 800px;
    min-height: 900px;
}
@media screen and (min-width: 736px){
    .size-riepilogo{
        display: grid;
        grid-template-columns: 100px  1fr;
        grid-template-rows: 1f 1f ;
        grid-template-areas: ". form  div-car "
        
        ;
    } 
}