.tableGestione th {
	text-align: center;
	color: #337ab7;
	border: none;
}

.tableGestione td {
	border: none;
}

.tableGestione tr {
	border: none;
	border-top: none;
}

.mezzo {
	color: #212529;
	font-weight: bold;
}

.testo {
	color: #337ab7;
	font-weight: bold;
}

.tableGestione table {
	border-collapse: none;
}

.table.table-unruled>tbody>tr>td, 
.table.table-unruled>tbody>tr>th {
	border-top: 0 none transparent;
	border-bottom: 0 none transparent;
}
