nav.navbar
{
    border-radius: 0px;
	border:0;
	position: fixed;
  	top: 20px;
  	padding: 0;
  	width: 100%;
  	margin: 0;
  	z-index: 1000;
 	padding: 0;
  	width: 100%;
  	
}
ul.nav
{
	flex-direction: row;
	margin: 0;
}


.bottone
{
	color: #59c2b0;
}

#header
{
	z-index: 1000;
	height: 20px;
	width: 100%;
	position:fixed;
	top: 0;
	border-bottom: 1px solid #303030;
}

.navbar-nav > li
{

    flex: 1;
}

#emailDiv
{
	width:100%;
}

nav ul
{
	width: 100%;
}


#loginLi
{
    float:right;
}

.blue
{
	color: #fff;
	background-color: #1f4267 !important;
}

#dropdownMenuButton 
{
  	background: transparent;
  	padding: 15px;
	border: 0;
	float: right;
}

.navbar-nav .dropdown-menu
{
    position: unset;
    width: min-content;
    border:0;
    float: right !important;
  	margin-top: -3px !important;
  	text-align: center;
    clear: right;
}

#dropdownMenuButton:hover, #dropdownMenuButton:focus
{
	 box-shadow: unset;
}

.navbar-inverse .navbar-nav > li a.aMenu:focus, 
.navbar-inverse .navbar-nav > li a.aMenu:hover
{
    border-bottom: 1px solid white;
    padding-bottom: 8px;
    margin-bottom: 7px;
}

.dropdown-item:focus, .dropdown-item:hover
{
 	background-color: transparent !important;
	border-bottom: 1px solid white;
  	padding-right: 2px;
  	padding-left: 2px;
  	margin-right: 13px;
  	margin-left: 13px;
  	width: 154px;
  	color: white !important;
  	padding-bottom: 0px;
	margin-bottom: 1.5px;
}

.navbar-nav 
{
  height: 49px;
}

.aMenu[href="catalogo"]
{
	width: min-content;
	margin: 0 auto;	
}


.dropdown-item 
{
    width: 150px !important;
    box-sizing: content-box;
}

.navbar-inverse .navbar-nav > li a:hover 
{
    color: white;
}

.navbar-inverse .navbar-nav > li a 
{
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li a[href="home"]
{
	float: left;
	margin-left: 10px;
}

.aMenu 
{
    padding: 15px !important;
    padding-bottom: 5px !important;
}
.pagineDiv
{
	  margin: 170px 50px;
}


